body {
  background: #DCDCDC;
}

.axis text {
  font: 10px sans-serif;
  fill: #3E3946;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

text {
  fill: #151515;
  font: 10px sans-serif;
}

.chart rect {
  fill: steelblue;
}

rect.moment {
  stroke: black;
}
